{{ define "main" }}
{{ partial "breadcrumbs" . }}
<section class="resume-section p-3 p-lg-5 d-flex d-column">
  <div class="my-auto">
    <h2 class="mb-0"><span class="text-primary">{{ .Title }}</span></h2>
    {{ with .Params.link }}<p>Repo link: <a href="{{ . }}">{{ . }}</a></p>{{ end }}
    {{ partial "techtags" . }}
    <div class="resume-content" style="width:500px;">
      {{with  .Params.image }}
        <img src="{{ . }}" style="max-height:500px;max-width:500px;"/>
      {{ end }}
    </div>
    {{ .Content }}

  </div>
</section>
{{ end }}
